.navbar{
    z-index:+1;
    font-family: 'Anton', sans-serif;
    position: sticky;

}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
 }

.modal-body{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.he2{
    background-image: url("../../assets/fotoStart.webp");
    background-size: cover;
    font-size: 2.5em;
    color: white;
    height: 350px;
    text-align: left;
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 10%;
}

.card{
    background-color: #FFC300  ;
    border: none;
}


::placeholder{
    font-size: 20px;
}
input{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
}

.footer1{
    text-align: center;
    margin:0;
    height: 50px;
    
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: khaki;
    color: darkred;
}
.fa-twitter {
    background:khaki;
    color:darkred;
}
.fa-instagram {
    background:khaki;
    color:darkred
}

@media only screen and (min-width: 768px) {
    #burguer{
        height: 30px;
        width: 30px;
        align-content: center;
    }
}

@media only screen and (max-width: 768px) {
    #burguer{
        height: 0px;
        width: 0px;
    }
}


@media only screen and (min-width: 769px) {
    .header{
        height: 180px;
        width:100%;
        padding-bottom: 50px;
        padding-bottom: 0px;
        background-color: #343a40;
    }
}

@media only screen and (max-width: 768px) {
    .header{
        height: 180px;
        width:100%;
        padding-bottom: 50px;
        padding-bottom: 0px;
        background-color: #343a40;
    }
}