
    /* The Modal (background) */
    .modal {
        margin-top: 30%;
        margin:auto;
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        right: 0;
        top: 0;
        width: 70%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
    }
    
    .masmenos{
        font-size: 10px;
    }

    .nav-link{
        color: white !important;
    }
    
    #myBtn{
        cursor: pointer;
        padding: 0;
        font-size: 30px;
    }
    
    .cantidad{
        padding: 10px;
    }

    @media only screen and (max-width: 768px) {
        .modal{
            width: 100%;
            margin-top: 20%;
        }
        .table {
            font-size: 12px !important;
            width: 100%;
        }
        .masmenos{
            height: 8px;
            font-size: 10px;
        }
 
    }
    
    /* Modal Header */
    .modal-header {
        display: inline;
        font-family: Anton, serif;
        background-color: black;
        color: white;
        padding: 2px 16px;
    }
    
    .modal-header img{
        padding:0;
        margin-left: 0px;
    }
    
    .modal-header h3{
        padding:0;
        margin-right: 0px;
    }
    
    .table{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    
    /* Modal Footer */
    .modal-footer {
        background-color: black;
    }
    
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    
    /* Add Animation */
    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }
