
.interior{
    background-color: white;
    color: black;
   
}

.footer1{
text-align: center;
margin:0;
color: black;
height: 10%;
padding: 1px;}

.table{
border: white;
flex: 50%
}
.inferior{
    background-color: rgb(162, 166, 170);
}
 