
<a  class="nav-link" (click)="showModal()">Shopping Cart</a>

<div *ngIf="!display; else elseBlock" class="invisible">

</div>

<!-- MODAL -->
<ng-template #elseBlock>

  <div id="myModal" class="modal">

      <div class="modal-content">
        <div class="modal-header">
          <table>
            <tr>
              <td>
                <img src="/assets/cart.png" alt="cart" style="width:25px;height:20px;margin-right: 5px;">  
              </td>
              <th>
                  <h4>Shopping  Cart</h4>
              </th>
            </tr>
          </table>
        </div>

        <div class="modal-body">

              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Plato</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let carro of carrito" class="data">
                      <td>{{carro.name}}</td>
                      <td>${{carro.price}}</td>
                      <td><span class="masmenos" (click)="sub(carro)">&#10134;</span><span class="cantidad">{{carro.cant}}</span><span class="masmenos" (click)="add(carro)">&#10133;</span></td>
                      <td><span class="masmenos" (click)="borrarPlato(carro)">&#10060;</span></td>
                    </tr>
                  </tbody>
                  
                  <th>TOTAL: $ {{total()}}</th>
                </table>
        </div>
        <div class="modal-footer">
            <button type="button" [routerLink]="['/checkout']" class="btn btn-primary btn-lg btn-block">Checkout</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="showModal()">Close</button>
        </div>
      </div>
    </div>

</ng-template>

