
<head>
  <title>Login Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
</head>
<div class="sticky-top">
    <div class="header">
      <a href="./admin"><img class="center-block" src="/assets/logo.png" alt="logo"></a>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
        <button  (click)="isCollapsed=!isCollapsed" class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div [collapse]= "!isCollapsed" class="collapse navbar-collapse" id="navbarNavDropdown">
            <a class="navbar-brand"><img src="/assets/burguer.png" alt="img" id="burguer" width="30" height="30"></a>
            <div >
              <ul  class="navbar-nav navbar-left" style="margin-left: 0px;">
                  <li class="nav-item active">
                    <a class="nav-link" routerLink="/admin">Home</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" routerLink="/boards">manejar</a>
                  </li>
              </ul>
      
            </div>
            </div>
        
    </nav>
  </div>
  <div class="card-deck">
    <div class="card bg-primary1 bg-info">
      <div class="card-body text-center">
        <div class="card-text">
            <h3>Compras en seguimiento</h3>
            <table class="table">
                
            </table>
                
                  <div class="card-group">
                    <div class="card ">
                      <div class="card-body text-center">
                          <div class="card-text">
                      <div class="example-container mat-elevation-z8">
                        <table mat-table #table [dataSource]="dataSource">
                      
                          <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                      
                          <!-- Title Column -->
                          <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Precio </th>
                            <td mat-cell *matCellDef="let element" class="title-col"> {{element.title}} </td>
                          </ng-container>
                      
                          <!-- Description Column -->
                          <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Cliente </th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                          </ng-container>
                      
                          <!-- Author Column -->
                          <ng-container matColumnDef="productos">
                            <th mat-header-cell *matHeaderCellDef> Productos </th>
                            <td mat-cell *matCellDef="let element"> {{element.productos}} </td>
                          </ng-container>
                      
                          
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/boards-details/', row.key]"></tr>
                        </table>
                      </div>
                    </div>
                      </div>
                      </div>
                      </div>
                
                
        </div>
      </div>
    </div>
    
  </div>


<footer class="footer1">
  <p>&copy; All rights reserved for <i>Serresiete Inc.</i> 2018</p>
</footer>