<app-navbar></app-navbar>

<div>
  <img src="/assets/ordenes.png" alt="ordenes" style="display:block;margin:auto;max-width: 100%;">
</div>

<table class="table table-dark" style="width:95%;margin:auto;">
    <thead>
      <tr>
        <th scope="col">Orden</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody *ngFor="let pedido of pedidos">
      <tr>
        <td>{{pedido.platos}}</td>
        <td>{{pedido.mail}}</td>
        <td>${{pedido.total}}</td>
        <td><button *ngIf="pedido.status else elseBlock" type="button" class="btn btn-light" (click)="changeStatus(pedido)">{{status(pedido)}}</button>
          <ng-template #elseBlock>
            <button type="button" class="btn btn-danger" (click)="changeStatus(pedido)" (click)="addPedido()">{{status(pedido)}}</button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>