<div class="sticky-top">
  <!--HEADER-->
  <div class="header">
          <a routerLink="./carrito"><img class="center-block" src="/assets/logo.png" alt="logo"></a>
  </div>

  <!--NAVBAR-->
  <nav  class="navbar navbar-expand-md navbar-dark bg-dark">
  
          <a class="navbar-brand"><img src="/assets/burguer.png" alt="img" id="burguer" width="30" height="30"></a>
          <button  (click)="isCollapsed=!isCollapsed" class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div [collapse]= "!isCollapsed" class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul  class="navbar-nav navbar-left" style="margin-left: 0px;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard">Home</a>

          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/history">Purchase History</a>
          </li>
          <li class="nav-item active">
              <app-carrito></app-carrito>
          </li>
          <li class="nav-item active">
                <a class="nav-link"  (click) = "parentModal.show()">Logout</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" *ngIf = "user" >{{user}}</a>
          </li>
          
          
          
          
          </ul>
          <ul  class="navbar-nav navbar-right" style="margin-right: 50px;"> <!--Navbar Derecho-->
          <li class="nav-item active">
                  <a class="nav-link" routerLink="/boards-detail"><img src="/assets/user.png" style="height:20px;width:20px;margin-right:10px;"></a>
          </li>
          </ul>
          </div>
  
  </nav>        
</div>

<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 id="dialog-nested-name1" class="modal-title pull-left">Logout</h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="parentModal.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>Seguro de que desea cerrar sesion?</p>
                      <button type="button" class="btn btn-primary" (click)="parentModal.hide()" (click)="onSubmitLogout()" routerLink="/signin">Si</button>
                    </div>
                  </div>
                </div>
              </div>

               
             
