<app-dash-admin></app-dash-admin>
  <div style="text-align:center">
    <head>
      <title>Login Form</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
  </head>
  <body>
  
      <h2 class="he2 bg-info"> 
        <div class="container3">
        <div class="form-sign-in1">
            Crear usuario
            <form [formGroup]="boardsForm" (ngSubmit)="onFormSubmit(boardsForm.value)"> 
              <mat-form-field class="form-control">
                <input matInput placeholder="Email" formControlName="title"
                       [errorStateMatcher]="matcher">
                <mat-error>
                  <span *ngIf="!boardsForm.get('title').valid && boardsForm.get('title').touched">Please enter Email</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-control">
                <textarea matInput placeholder="Username" formControlName="description"
                       [errorStateMatcher]="matcher"></textarea>
                <mat-error>
                  <span *ngIf="!boardsForm.get('description').valid && boardsForm.get('description').touched">Please enter Username</span>
                </mat-error>
              </mat-form-field>
              
              <mat-form-field class="form-control">
                <input matInput placeholder="Password" formControlName="author"
                       [errorStateMatcher]="matcher">
                <mat-error>
                  <span *ngIf="!boardsForm.get('author').valid && boardsForm.get('author').touched">Please enter Password</span>
                </mat-error>
              </mat-form-field>
              <div class="button">
                  <a mat-fab color="secondary" [routerLink]="['/boards']"><mat-icon>list</mat-icon></a>
                </div>
              <div class="button-row">
                <button type="submit" [disabled]="!boardsForm.valid" mat-fab color="secondary"><mat-icon>save</mat-icon></button>
              </div>
            </form>
          </div>
        </div>
      </h2>
  </body>
  
  <div class="container" style="min-height:60px ; min-width:800px">
      <router-outlet></router-outlet>
  </div>

