

.btn{
    margin-top: 10px;
   
}

.container{
    border: none;
}

.card-img-top{
    height: 300px;
    width: 100%;
}

 @media only screen and (min-width: 768px) {
    #burguer{
        height: 30px;
        width: 30px;
        align-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .card{
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 15px;
        width:100%;
        float: center;
        align-content: center;
        padding: 1%;
        font-family: 'Anton', sans-serif ;
    }

    .admin-symbol{
     
        height: auto;
        max-width:80%;
        margin-right: 100px;
    }
}



@media only screen and (min-width: 769px) {
    .header{
        height: 180px;
 
        padding-bottom: 50px;
        padding-bottom: 0px;
       
    }

    .admin-symbol{
        margin: auto;
        display: block;
        height: 75px;
        width:500px;
    }
}

@media only screen and (max-width: 768px) {
    .header{
        height: 180px;
        
        padding-bottom: 50px;
        padding-bottom: 0px;
     
    }
}
