<app-dash-admin></app-dash-admin>
<div class="admin header">
    <img class="admin-symbol" src="/assets/menu_symbol_editor.png" alt="editor" style="margin:auto;">
</div>
<div>
  <div class="row">
      <div class="col-xl-4" *ngFor="let plato of platos">
        <div class="card">
            <img class="card-img-top" src="{{plato.img}}">
            <div class="card-block">
                <p class="card-text">{{plato.name}}</p>
                <ul class="list-group list-group-flush">
                          <button (click)="disp(plato)" type="button" class="btn btn-secondary btn-s" *ngIf="plato.disp">Disponible</button>
                          <button (click)="disp(plato)" type="button" class="btn btn-secondary btn-s bg-light" *ngIf="!plato.disp">No Disponible</button>
                          <button type="button" class="btn btn-secondary btn-md">Details</button>
                </ul>
            </div>
        </div>
      </div>
    </div>
    
      <div class = "card2">
        <p>Agregar Producto</p>
        <div class = "button-row">
          <a mat-fab color = "primary" routerLink="/clave"><mat-icon>add</mat-icon></a>
        </div>
      </div>
</div>
