.interior{
    background-color: white;
    color: black;
   
  }
  
  
  .table{
    border: white;
    flex: 50%
  }
  .inferior{
    background-color: lightslategrey;
    
  }
  .bg-primary1{
    background-color: khaki;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .admin-header{
     background-color: white;
 }
 .navbar{
    z-index:+1;
    font-family: 'Anton', sans-serif;
    position: sticky;

}

input{
    margin-bottom: 15px;
    border: 10px;
}


h2{
    width: 70%;
    margin: auto;
}

h2 mat-form-field{
 
  margin-bottom: 10px;
}


@media only screen and (min-width: 769px) {
    .header{
        height: 180px;
        width:100%;
        padding-bottom: 50px;
        padding-bottom: 0px;
        background-color: #343a40;
    }
}

@media only screen and (max-width: 768px) {
    .header{
        height: 180px;
        width:100%;
        padding-bottom: 50px;
        padding-bottom: 0px;
        background-color: #343a40;
    }

.form-control{
    align-content: center
}
}