
        <app-dash-admin></app-dash-admin>
      
        <div style="text-align:center">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Crear producto</h1>
              <p class="lead">Crea nuevos prodcutos desde cero!</p>
            </div>
            <div>
              <h2 class="he2"> 
                <div class="container3">
                    <div class="form-sign-in1">
                        <form [formGroup]="platosForm" (ngSubmit)="onFormSubmit(platosForm.value)">
                          <mat-form-field class="form-control">
                            <input matInput placeholder="Nombre" formControlName="name"
                                   [errorStateMatcher]="matcher">
                            <mat-error>
                              <span *ngIf="!platosForm.get('name').valid && platosForm.get('name').touched">Introduzca el nombre</span>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="form-control">
                            <input matInput placeholder="Precio" formControlName="price"
                                   [errorStateMatcher]="matcher">
                            <mat-error>
                              <span *ngIf="!platosForm.get('price').valid && platosForm.get('price').touched">Introduzca el precio</span>
                            </mat-error>
                          </mat-form-field>
                          
                          <mat-form-field class="form-control">
                            <input matInput placeholder="Imagen" formControlName="img"
                            [errorStateMatcher]="matcher">
                            
                          </mat-form-field>
                          
      
                            <mat-form-field class="form-control">
                                <input matInput placeholder="Disponible" formControlName="disp"
                                       [errorStateMatcher]="matcher">
                                <mat-error>
                                  <span *ngIf="!platosForm.get('disp').valid && platosForm.get('disp').touched">Introduzca disponibilidad</span>
                                </mat-error>
                              </mat-form-field>
                              <mat-form-field class="form-control">
                                  <input matInput placeholder="Tipo" formControlName="tipo"
                                         [errorStateMatcher]="matcher">
                                  <mat-error>
                                    <span *ngIf="!platosForm.get('disp').valid && platosForm.get('disp').touched">Introduzca el tipo de comida</span>
                                  </mat-error>
                                </mat-form-field>
                          <div class="button">
                              <a mat-fab color="secondary" [routerLink]="['/admin']"><mat-icon>list</mat-icon></a>
                            </div>
                          <div class="button-row">
                            <button type="submit" [disabled]="!platosForm.valid" mat-fab color="secondary"><mat-icon>save</mat-icon></button>
                          </div>
                        </form>
                      </div>
                    </div>
            </h2>
          </div>
      
      
  </div>
  
  <footer class="footer1">
      <p>&copy; All rights reserved for <i>Serresiete Inc.</i> 2018</p>
  </footer>