<app-navbar></app-navbar>
<div>
        <img id="menu_symbol" src="/assets/menu_symbol.png" alt="MENU" style="margin-bottom:50px;">
      </div>
    
    
    
      <div class="container">
          <select (change)="selectChangeHandler($event)" class="form-control form-control-lg">
              <option value="Show All">Show All</option>
              <option value="Pizza">Pizza</option>
              <option value="Pad Thai">Pad Thai</option>
              <option value="Baby Back Ribs">Baby Back Ribs</option>
              <option value="Fried Oreos">Fried Oreos</option>
            </select>
      </div>
    
    
          <div class="row">
            <div class="col-xl-4" *ngFor="let plato of platos" [class.invisible]="!(selectedFood==plato.name || selectedFood=='Show All')" [class.invisible2]="!plato.disp">
              <div class="card">
                  <img class="card-img-top" src="{{plato.img}}">
                  <div class="card-block">
                      <p class="card-text">{{plato.name}}</p>
                      <h4 class="card-title">${{plato.price}}</h4>
                      <ul class="list-group list-group-flush">
                          <button class="btn btn-primary text-white" popover="Item added to cart"
                          popoverTitle="Success"
                          triggers="focus" placement="right" (click)="addCarrito(plato)">Add to Cart</button><!--Boton de Comprar-->
                      </ul>
                  </div>
              </div>
            </div>
          </div>
    

